<div class="jumbotron">
  <img src="images/Band-1.jpg">
  <img src="images/Band-2.jpg">
  <img src="images/Band-3.jpg">
  <img src="images/Band-4.jpg">
  <img src="images/Band-5.jpg">
  <img src="images/Band-6.jpg">
  <img src="images/Band-7.jpg">
</div>
