<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav nav-justified">
      <li class="active"><a href="/">Home</a></li>
      <li><%= link_to "About", pages_about_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
      <li><%= link_to "Terms and Conditions", pages_t_and_c_path %></li>
      <li><%= link_to "Privacy Policy", pages_privacy_path %></li>
    </ul>
    <p>© TT 2014</p>
  </div><!-- /.container-fluid -->
  </nav>